
label {
    
    display: block;
    font-weight: lighter;
    margin-left: 20px;
    width: 150px;
}


input{
    display:block;
    height: 35px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 30px;
    background-color: #E0ECF8 ;
	overflow: hidden;
	border: 1px solid #898F95;
}

table{
	border:1px solid #898F95;
	background: #FEFAFA;
	margin:  100px 400px;
	text-align: center;
}

#td{
	color: #084B8A;
	font-size: 20px;
}

body{
	background: url("./image/db.jpg") ;
	overflow: hidden;
	font-size: 18px;
}

.tt{
	
	display:table;

}
td{
	height:50px;
	color: #151515;
}

#p{
	border: 1px solid #898F95;
	height: 150px;
	font-weight: bold;
	font-size: 150%;
	color: black;
	background: #E8EDEE;
}


button{
	align-items: center;
	width: 140px;
	height: 30px;
	background: #208FAE;
	margin-top: 25px;
	margin-bottom: 30px;
}
button:hover{
	background: #333;
}

a{ 
	height: 50px;
	align-items: center;
 }
